{
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true
}
