::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.18);
	border-radius: 4px;
}

.wrapper {
	display: flex;

	.conversation {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.infor {
		width: 343px;
		flex-shrink: 0;
	}
}

//Conversation info
.infor {
	.infor-header {
		height: 68px;
		border-bottom: 1px solid #eaecf0;

		font-size: 1.7rem;
		font-weight: 500;
		text-align: center;
		line-height: 68px;
	}
	.infor-body-heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 12px 16px;

		.infor-body-controls {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
		}
	}

	.infor-body-name {
		font-size: 1.8rem;
		font-weight: 500;
		color: var(--text-dark-color);
		margin-bottom: 24px;
	}
	.infor-body-avatar {
		width: 56px;
		height: 56px;
		margin-top: 12px;
		margin-bottom: 14px;
	}
}

.infor-body-controls {
	.infor-body-control {
		display: flex;
		flex-direction: column;
		align-items: center;

		color: var(--text-color);
		font-size: 1.2rem;
	}
	.infor-body-icon {
		display: flex;

		width: 32px;
		height: 32px;
		background-color: #e8eaef;
		border-radius: 50%;
		margin-bottom: 10px;
		svg {
			margin: auto;
			font-size: 1.8rem;
			color: var(--text-color);
		}
		&:hover {
			cursor: pointer;
			background-color: #e1e4ea;
		}
	}
}
.infor-body-actions {
	border-top: 6px solid #f4f5f7;

	.infor-body-action {
		display: flex;
		align-items: center;
		height: 48px;
		padding: 0 16px;
		color: var(--text-dark-color);
		font-size: 1.5rem;

		& + .infor-body-action {
			border-top: 1px solid rgba(0, 0, 0, 0.06);
		}
		&:hover {
			cursor: pointer;
			background-color: #e8eaef;
		}
		&:last-child {
			color: var(--error-color);

			svg {
				color: var(--error-color);
			}
		}
		svg {
			margin-right: 8px;
			color: var(--icon-color);
			font-size: 2.2rem;
		}
	}
}
//Header Chat
.header {
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
}

.header-infor {
	display: flex;
	align-items: center;
	.header-back-btn {
		display: none;
	}
}

.header-inner {
	margin-left: 12px;

	.header-name {
		font-size: 1.8rem;
		font-weight: 500;
		color: var(--text-dark-color);
		line-height: 1.5;
		letter-spacing: 0.5px;
	}
	.header-status {
		color: #72808e;
		font-size: 1.4rem;
		font-weight: 400;
	}
}

.header-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
.header-actions {
	display: flex;
	.header-btn {
		width: 32px;
		height: 32px;
		border-radius: 3px;

		&.selected {
			background-color: #e5efff;
			color: #0068ff;
			svg {
				color: #0068ff;
			}
		}
		svg {
			font-size: 2rem;
			color: #666b70;
		}
		& + .header-btn {
			margin-left: 4px;
		}
		&:hover {
			background-color: #eeeff2;
			cursor: pointer;
		}
	}
}
//Chat-message
.chat-message {
	width: 100%;
	height: calc(100vh - 101px - 68px);
	padding: 0 13px 42px;
	background-color: #cdd0c5;
	overflow: overlay;
	scroll-behavior: smooth;
}

.chat-item {
	display: flex;

	& + & {
		margin-top: 5px;
	}

	.chat-img {
		width: 40px;
		height: 40px;
	}
	&.sender {
		flex-direction: row-reverse;
		&.same-user {
			.chat-inner {
				margin-right: 48px;
			}
			.chat-img {
				display: none;
			}
		}
		.chat-inner {
			box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.18);
			background-color: #e5efff;
			margin-left: 0px;
			margin-right: 8px;
		}
	}
	&.same-user {
		.chat-inner {
			margin-left: 48px;
		}
		.chat-img {
			display: none;
		}
	}
	&.chat-item--img {
		& + & {
			margin-top: 18px;
		}
		& .chat-inner {
			background-color: transparent;
			padding: 0;
			box-shadow: none;
			.chat-image {
				width: 276px;
				height: auto;
				border-radius: 10px !important;
				border: none;
				box-shadow: none;
			}
		}
	}
	.chat-inner {
		max-width: calc(100% - 38px - 120px);
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.18);
		background-color: var(--white-color);
		border-radius: 8px;
		padding: 12px;
		margin-left: 8px;
		position: relative;
		&:hover {
			.interactive {
				display: flex;
			}
		}
		::selection {
			background-color: #abcdff;
		}
		.chat-content {
			font-size: 1.5rem;
			line-height: 1.2;
			color: var(--text-dark-color);
			word-break: break-all;
		}

		.chat-time {
			display: inline-block;
			margin-top: 10px;
			font-size: 1.3rem;
			color: rgba(0, 0, 0, 0.4);
			user-select: none;
		}
	}
}

.interactive {
	&.show {
		display: flex;
	}
	display: none;
	width: 22px;
	height: 22px;
	background-color: var(--white-color);
	border-radius: 50%;

	position: absolute;
	bottom: -11px;
	left: 11px;

	&:hover {
		cursor: pointer;
	}
	.current-emotion {
		margin: auto;
		color: var(--icon-color);
	}

	z-index: 100;
}
.chat-file {
	height: 56px;
	width: 376px;
	display: flex;
	align-items: center;
	.chat-file-icon {
		height: 56px;
		width: 56px;
		svg {
			font-size: 5.6rem;
			color: var(--icon-color);
		}
	}
	.chat-file-infor {
		flex: 1;
		margin-left: 12px;
		color: var(--text-dark-color);
		font-size: 1.4rem;
		line-height: 1.6;
		font-weight: 500;

		& span {
			display: block;
		}
	}
	.chat-file-name {
		color: var(--text-dark-color);
		word-break: break-all;
	}
	.chat-file-size {
		word-break: break-all;
		margin-top: 4px;
		font-size: 1.3rem;
		font-weight: 400;
	}
}

//Chat input
.chat-input-actions {
	height: 46px;
	padding: 0 8px;
	.chat-input-btn {
		& + .chat-input-btn {
			margin-left: 10px;
		}
	}
}

.chat-input-btns {
	display: flex;
	align-items: center;
}
.chat-input-btns {
	.chat-input-btn {
		height: 40px;
		width: 40px;
		border-radius: 4px;

		& + .chat-input-btn {
			margin-left: 2px;
		}
		&:hover {
			background-color: #eeeff2;
			cursor: pointer;
		}
		&.chat-input-btn--color {
			svg {
				color: #fac059;
			}
		}
		&.selected {
			background-color: #e5efff;
			color: #0068ff;
			svg {
				color: #0068ff;
			}
		}

		svg {
			font-size: 2.2rem;
			color: #666b70;
		}
	}
}

.input-file {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
}
.input-label {
	width: 100%;
	height: 100%;
	display: flex;
	&:hover {
		cursor: inherit;
	}
}
.chat-input-text {
	height: 55px;
	padding: 0 16px;
	border-top: 1px solid #e1e4ea;
	display: flex;
	align-items: center;
	transition: border-top 0.25s ease;
	&:focus-within {
		border-top-width: 1.4px;
		border-top-color: var(--primary-dark-color);
	}
	.input {
		flex: 1;
		font-size: 1.6rem;
		line-height: 1.5;
		padding-right: 8px;
	}

	.emoji {
		display: flex;
		position: relative;
		& .emoji-wrapper {
			position: absolute;
			z-index: 20;
			top: -435px;
			right: calc(100% - 40px);
			& ::-webkit-scrollbar {
				width: 8px;
				height: 8px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #ced1d5;
				border-radius: 4px;
			}
		}
		svg {
			margin: auto;
		}
	}

	.submit-text {
		color: var(--primary-active-color);
		font-size: 1.6rem;
		font-weight: 500;
		margin: auto;
	}
}

@media screen and (max-width: 739px) {
	.header-infor {
		.header-back-btn {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			display: flex;
			margin: 0 8px 0 -2px;
			&:hover {
				background-color: #eeeff2;
				cursor: pointer;
			}
			svg {
				margin: auto;
				color: var(--icon-color);
				font-size: 2rem;
			}
		}
	}
}
