.wrapper {
	display: flex;
	justify-content: center;
	user-select: none;
}
.inner {
	max-width: 600px;
	height: 100%;
	z-index: 999;
	position: relative;
	padding: 24px 20px 0;
}

.bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	& .bg-svg {
		width: 100%;
		height: 100%;
		transform: scale(1.5);
	}
}
