.wrapper {
	width: 352px;
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	height: calc(100% - 20px);
	border-radius: 5px;
}

.header {
	position: relative;
	height: 48px;
	padding: 0 8px 0 16px;
	display: flex;
	align-items: center;

	.header-heading {
		font-size: 1.7rem;
		font-weight: 500;
		color: var(--text-dark-color);
		flex: 1;
	}

	.header-icon {
		height: 32px;
		width: 32px;
		svg {
			color: var(--icon-color);
			font-size: 1.8rem;
		}
	}
}
.body {
	position: relative;

	.cover-picture {
		height: 130px;
		border-radius: 0;
		box-shadow: none;
		object-fit: cover;
	}
}

.body-preview {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	.profile-picture {
		width: 72px;
		height: 72px;
		margin-bottom: 16px;
		position: absolute;
		top: calc(100% - 36px);
		box-shadow: 0 0 0 2px var(--white-color);
	}
	h4 {
		position: absolute;
		top: calc(100% + 50px);
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: 0.5px;
		color: var(--text-dark-color);
		text-align: center;
		word-break: break-all;
		width: 100%;
	}
}
.body-infor {
	position: relative;
	margin-top: 90px;
	padding: 0 20px;
	h5 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 15px;
	}
}
.body-detail {
	font-size: 1.5rem;
	& + & {
		margin-top: 14px;
	}
	span {
		line-height: 1.3;
	}
	.body-name {
		color: #72808e;
		width: 110px;
		display: inline-block;
	}
	.body-value {
		text-align: left;
		color: var(--text-dark-color);
	}
}
.edit-infor {
	height: 40px;
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: 16px;
	span {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--text-dark-color);
	}
}
