.wrapper {
	width: 352px;
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	height: calc(100% - 20px);
	border-radius: 5px;
}

.header {
	position: relative;
	height: 48px;
	padding: 0 8px 0 16px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	.header-heading {
		font-size: 1.7rem;
		font-weight: 500;
		color: var(--text-dark-color);
		flex: 1;
	}

	.header-icon {
		height: 32px;
		width: 32px;
		svg {
			color: var(--icon-color);
			font-size: 1.8rem;
		}
	}
}
.body {
	position: relative;
}

.body-preview {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	.cover-picture {
		height: 130px;
		border-radius: 0;
		box-shadow: none;
		object-fit: cover;
	}

	.profile-picture {
		width: 72px;
		height: 72px;
		margin-bottom: 16px;
		position: absolute;
		top: calc(100% - 36px);
		box-shadow: 0 0 0 2px var(--white-color);
		object-fit: cover;
	}
	h4 {
		position: absolute;
		top: calc(100% + 50px);
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: 0.5px;
		color: var(--text-dark-color);
		text-align: center;
		word-break: break-all;
		width: 100%;
	}
	label {
		width: 100%;
		display: flex;
		justify-content: center;
		input {
			width: 0;
			height: 0;
		}
	}
}

.body-infor {
	position: relative;
	margin-top: 90px;
	padding: 16px 20px 0 20px;
	h5 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 15px;
	}
}
.body-detail {
	font-size: 1.5rem;
	& + & {
		margin-top: 14px;
	}
	span {
		line-height: 1.3;
	}
	.body-name {
		color: #72808e;
		width: 110px;
		display: inline-block;
	}
	.body-value {
		text-align: left;
		color: var(--text-dark-color);
	}
}
.edit-infor {
	height: 40px;
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: 16px;
	span {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--text-dark-color);
	}
}

.wrapper-edit {
	width: 400px;

	.cover-picture {
		height: 155px;
	}
	.profile-picture {
		width: 84px;
		height: 84px;
		top: calc(100% - 42px);
	}
	.body {
		overflow-y: auto;
		padding-bottom: 20px;
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 6px;
			background: rgba(0, 0, 0, 0.5);
		}
	}
	.body-infor {
		margin-top: 56px;
		padding: 0;

		& > .form-group {
			padding: 0 16px 16px 16px;
		}
	}
	.body-inner {
		border-top: 6px solid #f4f5f7;
		padding: 16px 16px 0 16px;
	}

	.form-group--birthday {
		display: flex;
		.input-birthday {
			flex: 1;
			height: 42px;
			padding: 0 12px;
			border: 1px solid #e1e4ea;
			border-radius: 4px;

			display: flex;
			align-items: center;
			svg {
				margin-left: auto;
			}
			& + .input-birthday {
				margin-left: 12px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.footer {
		height: 68px;
		padding: 16px;
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
	}
}
.footer {
	& .footer-btn {
		height: 40px;
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--white-color);
		padding: 4px 16px;

		& + .footer-btn {
			margin-top: 0 !important;
			margin-left: 15px !important;
		}

		&.footer-btn--cancel {
			background-color: #e8eaef !important;
		}

		&.footer-btn--submit {
			background-color: var(--primary-dark-color);
		}
	}
}

.form-group {
	color: var(--text-dark-color);
	font-size: 1.4rem;
	width: 100%;
	.form-label {
		line-height: 1.5;
		display: block;
		margin-bottom: 4px;
	}
	.form-inner {
		display: flex;
		margin-bottom: 18px;
		span {
			display: inline-block;
			& + .form-control--radio {
				margin-left: 42px;
			}
		}
	}
	.form-control {
		font-size: 1.5rem;
		height: 36px;
		padding: 0 12px;
		border-radius: 4px;
		border: 1px solid #e1e4ea;
		width: 100%;
		margin-bottom: 8px;
	}
	.form-control--radio {
		margin-right: 10px;
		width: 18px;
		height: 18px;
		& + & {
			margin-left: 42px;
		}
	}
	.form-note {
		color: #72808e;
		font-size: 1.2rem;
	}
}
.calendar {
	min-width: 113px;
	height: 218px;
	padding: 8px;
	overflow: overlay;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background: rgba(0, 0, 0, 0.5);
	}
	.calendar-item {
		height: 32px;
		line-height: 32px;
		padding: 0 8px;
		margin: 0 -8px;

		&.calendar-item--pick {
			svg {
				visibility: visible;
			}
		}
		svg {
			color: var(--primary-dark-color);
			margin-right: 8px;
			visibility: hidden;
		}
		&:hover {
			background-color: #f4f5f7;
			cursor: pointer;
		}
	}
}
