@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--white-color: #fff;
	--text-color: #6f6f6f;
	--text-dark-color: #001a33;
	--black-color: #000;
	--primary-color: #0190f3;
	--primary-active-color: #006edc;
	--primary-dark-color: #0068ff;
	--error-color: #dd4b39;
	--icon-color: #666b70;
	--width-sidebar: 376px;
	--width-main-bar: 64px;
	--height-search: 64px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}
body {
	font-size: 1.6rem;
}
button,
input,
textarea,
select,
option {
	border: none;
	outline: none;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
}

a[href] {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}
