@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

//Embedded fonts
@font-face {
	font-family: SegoeUI;
	src: url('/assets/fonts/Segoe UI Bold Italic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: SegoeUI;
	src: url('/assets/fonts/Segoe UI Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: SegoeUI;
	src: url('/assets/fonts/Segoe UI Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: SegoeUI;
	src: url('/assets/fonts/Segoe UI.ttf');
}

:root {
	--white-color: #fff;
	--text-color: #6f6f6f;
	--black-color: #000;
	--primary-color: #0190f3;
	--primary-active-color: #006edc;
	--error-color: #dd4b39;

	--width-sidebar: 350px;
	--width-main-bar: 64px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}
