.wrapper {
	background-color: var(--white-color);
	width: 100%;
}
.search {
	height: 64px;
	min-height: 64px;
	display: flex;
	align-items: center;
	margin: 0 15px 0 16px;
	.form-group {
		width: 208px;
		height: 32px;
		background-color: #e8eaef;
		border-radius: 9999px;
		display: flex;
		align-items: center;

		&:focus-within {
			background-color: var(--white-color);
			border: 1px solid var(--primary-active-color);
		}
	}
	.form-label {
		width: 14px;
		margin: 0 8px 0 12px;
		display: flex;
		align-items: center;
		svg {
			flex-shrink: 0;
			font-size: 1.6rem;
			color: var(--icon-color);
		}
		&:hover {
			cursor: pointer;
		}
	}
	.form-input {
		width: 30px;
		font-size: 1.5rem;
		flex: 1;
	}

	.form-btns {
		height: 32px;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		.form-btn {
			width: 32px;
			height: 32px;
			margin-left: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;

			&.form-btn--smaller {
				svg {
					font-size: 1.9rem;
				}
			}
			&:hover {
				background-color: #eeeff2;
				cursor: pointer;
			}

			svg {
				color: var(--icon-color);
				font-size: 2rem;
			}
		}
		.form-btn-close {
			padding: 7px 16px;
			font-size: 1.4rem;
			font-weight: 500;
			margin-left: 3px;
			background-color: var(--white-color);
			&:hover {
				background-color: #eeeff2;
				cursor: pointer;
			}
		}
	}
	.clear {
		margin: 0 8px;
		color: #72808e;
		font-size: 1.52rem;
		line-height: 0;
		&:hover {
			cursor: pointer;
			svg {
				color: var(--primary-dark-color);
			}
		}
	}
}

.account-list {
	width: 310px;
	height: calc(100vh - 64px);
	padding: 16px 0 8px 0;
	background-color: #fff;

	.heading {
		padding: 0 16px;
		margin-bottom: 6px;
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--text-dark-color);
	}

	.no-users {
		padding: 16px;
	}
}
