@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo-wrapper {
	width: 114px;
	height: 41px;
}
.spinner {
	border: 3.2px solid #f3f3f3;
	border-top: 3.2px solid var(--primary-color);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spinner 2s linear infinite;
	margin: 120px 0 20px;
}
.content {
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--black-color);
}
