.wrapper {
	width: 400px;
	margin: 0 auto;
	background-color: var(--white-color);
	border-radius: 3px;
	box-shadow: 0 8px 24px rgb(21 48 142 / 14%);
}

.tab {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #333;

	height: 50px;
	width: 100%;
	line-height: 50px;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 0 20px;

	text-align: center;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 40%;
		height: 1px;
		position: absolute;
		bottom: -1px;
		left: 30%;
		background-color: var(--text-color);
	}
}


.tab-pane {
	width: 100%;
	min-height: 270px;
	padding: 30px 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-signin {
	width: 100%;
}

.form-group {
	width: 100%;
	height: 40px;
	padding: 5px 0;
	margin-bottom: 18px;
	position: relative;
	display: flex;
	align-items: center;
}

.form-group::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	background-color: #ecedf0;
	width: 100%;
	height: 1px;
}

.form-icon {
	font-size: 1.4rem;
	color: #555;
	margin-right: 12px;
}

.form-input {
	color: #333;
	font-size: 1.4rem;
	height: 100%;
	flex: 1;
}

.icon-btn {
	padding: 0 !important;
	display: inline-block;
}