.wrapper {
	display: flex;
	width: var(--width-sidebar);
	height: 100vh;
	max-height: 100vh;
	border-right: 1px solid #eaecf0;
}

//MAIN SIDEBAR
.nav-tab-avt {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 54px;
	img {
		width: 48px;
		height: 48px;
	}
}
.nav-tab-btn {
	& + & {
		margin-left: 0 !important;
	}
	svg {
		font-size: 2.6rem;
	}
}
.main-bar {
	width: var(--width-main-bar);
	height: 100%;
	background-color: var(--primary-color);
	padding-top: 32px;

	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-list--width {
	width: 208px;
}
.language-icon,
.message-icon {
	visibility: hidden;
	color: var(--primary-active-color);
	margin-left: -8px;
	&.show {
		visibility: visible;
	}
}

//AUXILIARY SIDEBAR
.content {
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--height-search));
}

.category {
	margin: 0 16px;
	.category-list {
		height: 1px;
		display: flex;
		border-bottom: 1px solid #eaecf0;
		.category-item {
			height: 0;
			overflow: hidden;
		}
		&.active {
			height: 32px;
			.category-item {
				height: auto;
				overflow: visible;
			}
		}
	}
	.category-count {
		background-color: #db342e;
		color: var(--white-color);
		width: 12px;
		height: 12px;
		border-radius: 50%;
		font-size: 0.9rem;
		position: absolute;
		top: -25%;
		right: -8%;
		text-align: center;
		line-height: 12px;
	}
	.category-btn--open {
		padding: 0;
		font-size: 1.4rem;
		font-weight: 500;
		height: 32px;
		width: 100%;
		justify-content: flex-start;
		&:hover {
			color: #333;
			text-decoration: none;
		}
		svg {
			color: #abb4bc;
			font-size: 1.2rem !important;
		}
	}
	.category-item {
		height: 24px;
		position: relative;

		&.active {
			.category-btn {
				background-color: #0068ff;
				color: var(--white-color);
			}
		}
	}
	.category-btn {
		padding: 4px 10px;
		font-size: 1.2rem;
	}
	.category-item + .category-item {
		margin-left: 4px;
	}
}

.actions {
	margin: 0 16px;
	padding: 12px 0 8px;
	display: flex;
	justify-content: space-between;
}

.inner {
	overflow: overlay;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ced1d5;
		border-radius: 4px;
	}
}

.action-btn {
	font-size: 1.4rem;
	font-weight: 500;
	&:hover {
		cursor: pointer;
		svg {
			color: var(--primary-active-color);
		}
	}
	svg {
		margin-left: 6px;
	}
}
.action-btn--primary {
	font-size: 1.3rem;
	font-weight: 400;
	color: #0068ff;
	&:hover {
		color: #004bb9;
	}
}
