.wrapper {
	color: var(--black-color);
	background-color: transparent;
	font-size: 1.4rem;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	+ .wrapper {
		margin-top: 12px;
	}
}
.title {
	display: inline-block;
}
.icon + .title,
.title + .icon {
	margin-left: 6px;
}
.primary {
	color: var(--white-color);
	background-color: var(--primary-color);
}
.outline {
	color: var(--primary-color);
	background-color: transparent;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 8%);
}
.text {
	color: #333;
	&:hover {
		text-decoration: underline;
		color: var(--primary-color);
	}
}
.rounded {
	background-color: #e8eaef;
	color: #001a33;
	border-radius: 9999px;

	&:hover {
		background-color: #e1e4ea;
	}
}
.disabled {
	opacity: 0.5;
	pointer-events: none;
}
.small {
	height: 30px;
	line-height: 30px;
	& .icon {
		font-size: 0.9rem;
	}
}

.large {
	height: 44px;
	line-height: 44px;
	width: 100%;
}
