.wrapper {
	width: 400px;
	margin: 0 auto;
	background-color: var(--white-color);
	border-radius: 3px;
	box-shadow: 0 8px 24px rgb(21 48 142 / 14%);
}

.tab {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	line-height: 50px;
	height: 50px;
	width: 100%;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 0 20px;
	color: #333;

	text-align: center;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 30%;
		height: 1px;
		position: absolute;
		bottom: -1px;
		left: 35%;
		background-color: #333;
	}
}


.tab-pane {
	width: 100%;
	min-height: 270px;
	padding: 30px 45px;
	align-items: center;
	flex-direction: column;
	display: flex;
}

.form-signin {
	width: 100%;
}