.wrapper {
	width: 400px;
	margin: 0 auto;
	background-color: var(--white-color);
	border-radius: 3px;
	box-shadow: 0 8px 24px rgb(21 48 142 / 14%);
}
.tabs {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tab {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 0.85rem;
	padding: 0 20px;
	flex: 1;
	color: var(--text-color);
	position: relative;
	display: inline-block;
}
.tab.active {
	color: #333;
	font-weight: 600;
}
.tab.active::before {
	content: '';
	display: block;
	width: 60%;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 20%;
	background-color: #333;
}
.tab-pane::after {
	display: block;
	content: '';
	width: 1px;
	height: 40%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.1);
}
.contents {
	width: 100%;
}
.content-item {
	width: 100%;
	min-height: 270px;
	padding: 30px 45px;
	align-items: center;
	flex-direction: column;
	display: none;
}
.content-item.active {
	display: flex;
}
.error {
	color: var(--error-color);
	font-size: 0.9rem;
	margin-bottom: 10px;
	text-align: center;
	display: none;
}
.error.active {
	display: block;
}
.qrcode {
	position: relative;
}
.qrcode-expired {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 140px;
	height: 60px;
	display: none;

	& p {
		color: #333;
		font-size: 0.875em;
		margin-bottom: 5px;
	}
}
.qrcode-img {
	width: 224px;
	height: 224px;
	display: inline-block;
	padding: 6px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.disabled .qrcode-img {
	opacity: 0.2;
}
.disabled .qrcode-expired {
	display: block;
}
.disabled .error {
	display: block;
}
.note {
	color: #888;
	font-weight: 400;
	font-size: 0.85rem;
	text-align: center;
	margin: 10px 0;
}
.form-signin {
	width: 100%;
}
.form-group {
	width: 100%;
	height: 40px;
	padding: 5px 0;
	margin-bottom: 18px;
	position: relative;
	display: flex;
	align-items: center;
}
.form-group::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	background-color: #ecedf0;
	width: 100%;
	height: 1px;
}
.form-icon {
	font-size: 0.8rem;
	color: #555;
	margin-right: 12px;
}

.form-input {
	color: #333;
	font-size: 0.875rem;
	height: 100%;
	flex: 1;
}
.form-btns {
	text-align: center;
}
