.menu-list {
	padding: 8px 0;
}

//Menu item
.menu-item {
	padding: 0 16px 0 16px;
	width: 100%;
	height: 32px;
	font-size: 1.4rem;
	text-align: left;
	display: flex;
	align-items: center;
	border-radius: 0;

	&.heading {
		font-size: 1.8rem;
		font-weight: 500;
		user-select: none;
		pointer-events: none;
		& .title {
			letter-spacing: 0.4px;
		}
		&:hover {
			background-color: #fff;
		}
	}
	& + .menu-item {
		margin-top: 0;
	}
	.icon {
		margin-right: 2px;
		width: 15px;
		height: 15px;
	}
	svg {
		flex-shrink: 0;
		font-size: 1.5rem;
	}
	&.warning {
		color: #db342e;
	}

	&:hover {
		cursor: pointer;
		background-color: #f4f5f7;
	}

	.title {
		flex-shrink: 0;
		letter-spacing: 0.3px;
	}
}
.separate {
	height: 1px;
	background: #e1e4ea;
	margin: 4px 16px;
}
.icon {
	flex-shrink: 0;
}
.icon + .title {
	margin-left: 8px;
}
.right-icon {
	margin-left: auto;
	color: #abb4bc;
}
